// Fonts
@import url("https://fonts.bunny.net/css?family=nunito:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900i");

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

*,
*::before,
*::after{
	box-sizing: border-box;
}


*{
        font-family: 'Lato', sans-serif;    
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        scroll-behavior: smooth;
}

button {
        all: unset;
        cursor: pointer;
}

/* A elements that don't have a class get default styles */
a{
        font-size: inherit;
        all: unset;
        color: black;
        fill:  black;
        cursor: pointer;

        &:hover{
                color: lighten(black,60%) ;
                fill: lighten(black,60%) ; ;
        }
}

.profile_topRow{
       @media screen and (max-width: 1000px) {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 10px;
        }
}
      

.profile_headName{
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1{
                margin: 0;
        }

        a{
                font-size: 1.25rem;
                gap:3px;
                color: #01376b;
                fill:  #01376b;
                text-decoration: none;

                &:hover{
                        color: lighten(#01376b,60%) ;
                        fill: lighten(#01376b,60%) ; 
                }
        }
}

.profile_URL{
        
                font-size: 1.25rem;
                gap:3px;
                color: #01376b;
                fill:  #01376b;

                &:hover{
                        font-size: 1.25rem;
                        color: lighten(#01376b,60%) ;
                        fill: lighten(#01376b,60%) ; 
                }
        
}

.post-btn{
        display: flex;
        
        button{
                width: 100px;
                margin: auto;
        }
        
}


.post_Img{
        width: 20rem;
        height: 20rem;
}